html {
  font-family: Garamond;
  font-weight: 300;
}

.world-wrapper {
  background-color: red;
  position: fixed;
  width: 100%;
  height: 85vh;
  left: 0;
  top: 0;
  z-index: 10;
  &:hover {
    cursor: crosshair;
  }
}

.portal {
  background-color: blue;
  width: 20%;
  height: 20%;
  position: absolute;
  &:hover {
    background-color: white;
    cursor: help;
    box-shadow: 200px -300px 0px 20px rgb(0, 0, 0);
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

#hud-wrapper {
  background-color: rgb(238, 238, 238);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15vh;
  margin-left: -8px;
  display: grid;
}

#inventory {
  display: flex;
  flex-direction: row;
}

.hover-portal {
  background-color: red;
  width: 5%;
  height: 5%;
  position: absolute;
  left: 20px;
  z-index: 11;
}

.form {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 30px;
}

.home-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 30px;
  align-items: center;
}

.form-text-box {
  padding: 8px;
  font-size: 14px;
  margin-bottom: 10px;
  &::placeholder {
    font-family: Garamond;
    font-size: 15px;
  }
}

.form-btn, .home-btn, .hud-btn {
  padding: 8px;
  font-size: 16px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
  font-family: 'Garamond';
  &:hover {
    background-color: rgb(241, 241, 241);
    color: black;
    font-weight: bold;
    font-style: italic;
    font-size: 16.5px;
  }
}

.hud-btn {
  background-color: rgb(194, 194, 194);
  color: black;
}

.home-btn {
  width: 250px;
  border-radius: 0.1em;
}

.form-google {
  background-color: #4285f4;
}

.form div {
  margin-top: 7px;
}

.text-below-form {
  font-size: 15px;
}

#no-account {
  margin-bottom: 10px;
  margin-top: -5px;
}

.welcome-header {
  text-align: center;
}