#list {
  height: 150px;
  overflow: auto;
  width: 580px;
}

h1, div {
  width: 90.65%;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#clear {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
}

#clear:hover {
  color: #000000;
  background-color: #c9c9c9;
  cursor: pointer;
}

.delete {
  font-weight: bold;
}

.delete:hover {
  color: #000000;
  background-color: #c9c9c9;
  cursor: pointer;
}

#description {
  width: 700px;
}

#input {
  display: flex;
  flex-direction: column;
}

input {
  width: 50%;
}